<div id="navs" class="container-fluid border-bottom border-dark">
    <div class="container bg-black">
        <div class="row ">
            <div class="col-sm-3 p-3">
                <div id="icon" class="d-flex justify-content-start bg-black ps-5">
                    <div class="tex-center ">
                        <a class="navbar-brand text-white " href="/home"><img src="Images/TwitterIcon.png" width="30px"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 p-3">
                <div class="title d-flex justify-content-between text-white bg-black ">
                    <h5 class=" fw-bolder"><%=title%></h5>
                </div>
            </div>
            <div class="col-sm-3 p-3 ms-4">
            </div>
        </div>
    </div>
</div>