<div class="icon flex-column justify-content-center align-items-center bg-black col-sm-3 p-0 side-left">
    <div class="justify-content-center container p-0">
        <div class="row text-white col-md-7 offset-md-3 offset-lg-5 offset-sm-0">
            <a href="/home">           
                <div class="tex-center d-flex pl-4 pt-3">
                <div id="links" class="p-3 m-1"><i class="fa fa-home"></i> <span> Home</span></div>
            </div></a> 
        </div>
        <div class="row  text-white col-md-7 offset-md-3 offset-lg-5 offset-sm-0">
            <a href="/explore">
                <div class="tex-center d-flex pt-3">
                    <div id="links" class="p-3 m-1"><i class="fa fa-hashtag"></i> <span>Explore</span></div>
                </div>
            </a>
        </div>
        <div class="row  text-white col-md-7 offset-md-3 offset-lg-5 offset-sm-0">
            <div class="tex-center d-flex  pt-3">
                <a href="/profile">
                    <div id="links" class="p-3 m-1"><i class="fa-regular fa-user text-white"></i>
                        <span>Profile</span>
                    </div>
                </a>    
            </div>
        </div>
        <div class="row  text-white col-md-7 offset-md-3 offset-lg-5 offset-sm-0">
            <div class="tex-center d-flex  pt-3">
                <a href="/logout">
                    <div id="links" class="p-3 m-1"><i class="fa-solid fa-right-from-bracket text-white"></i>
                        <span>Log out</span>
                    </div>
                </a>    
            </div>
        </div>
    </div>

</div>